<h1>Signatures#index</h1>
<h1> ****</h1>

<div class="container mt-5 content">
  <div class="row">
  <% @signatures.each do |signature| %>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card-signature mb-4">
          <!-- image of a signature -->
          <!-- create div card-signature-info   -->
          <div>

            <h2 class= "mb-3"><%= link_to signature.title, signature_path(signature.id)%></h2>
            <h3><%= signature.description %></h3>
            <p><%= signature.type_of %></p>
            <p><%= number_with_precision(signature.price, precision: 2, separator: ',', delimiter: '.') %> R$</p>

          </div>
        </div>
    </div>
  <% end %>
  </div>
</div>


