// Specific CSS for your home-page
.hello-sentence {
  color: white;
  font-size: 30px;
  font-family: $body-font;
}

#main-picture {
  width: 500px;
}

#purchase-buttons {
  display: flex;
  justify-content: space-around;
}