<div class="banner">
  <div class="container">
    <% if current_user %>
      <div class="container mt-2">
        <p>Hello, <%= current_user.first_name %>!</p>
      </div>
    <% end %>
  </div>
</div>