<%= render 'shared/banner' %>
<div class="container mt-5 content">
  <%# <div class="row"> %>
    <div class="d-flex space-between">
      <span class="d-flex justify-content-between align-items-center text-center"><h3>We believe it's possible to beat the waste and save the rango!</h3></span>
      <span class="picture"><%= image_tag("img_grocery.jpg", width: 500) %></span>
    </div>
  <%# </div> %>
</div>

<div class ="container ">
  <div class="row mb-4">
    <%= link_to "Products#index", products_path, class: "nav-link", class: "btn btn-success" %>
  </div>
  <div class="row">
    <%= link_to "Signatures#index", signatures_path, class: "nav-link", class: "btn btn-success" %>
  </div>
</div>
