.card-product {
  overflow: hidden;
  transition: box-shadow .2s;
  border-radius: 8px;
}

.card-product-infos {
  padding: 10px 36px 36px 36px;
  min-height: 150px;
  background-color: white;
}

.card-product > img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 20px;
  margin: 0;
}

.card-product p {
  font-size: 14px;
  font-weight: 400;
}

#killed-hover-oncard {
  box-shadow: none;
}

#hover-on-products{
  transition: box-shadow .2s;
  &:hover {
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.1);
    font-size:18px;
  }
}

#nomargin {
  margin: 0;
}

.card-signature {
  overflow: hidden;
  transition: box-shadow .2s;
  border-radius: 8px;

  .card-signature-infos {
    padding: 10px 36px 36px 36px;
    min-height: 150px;
    background-color: white;
  }
  
  .card-signature > img {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }
  
  .card-signature h2 {
    font-size: 20px;
    margin: 0;
  }
  
  .card-signature p {
    font-size: 14px;
    font-weight: 400;
  }
}