<div class="container-lg content my-4">
  <div data-controller="refresh-list">
    <%= form_with url: products_path, method: :get, html: { class: 'p-3', data: { refresh_list_target: 'form' } } do |f| %>
        <%= f.text_field :query,
                        class: "form-control",
                        placeholder: 'Find a product',
                        value: params[:query],
                        data: {
                                refresh_list_target: 'searchInput',
                                action: "keyup->refresh-list#update"
                              } %>
    <% end %>
    <%= render 'list', products: @products %>
  </div>
</div>
<%= render 'shared/footer' %>
